{{ define "main" }}
    <div>
        <div class="pre-title">Public file for a known Zionist</div>
        <h1>{{ if .Title }}{{ .Title }}{{ else }}{{ .File.BaseFileName }}{{ end }}</h1>
    </div>

    <div class="content-meta">
        <a class="back-link" href="/">← Back to the wiki</a>
    </div>

    <article class="post-content">
        {{ .Content }}
    </article>

    <div class="post-footer">
        {{ $fileName := path.Base .File.Filename }}
        {{ $filePath := printf "content/%s" $fileName }}
        <p>Each Zionist deserves one file. Add more posts for this file <strong><a href="https://github.com/SPIEGELFAFO/SPIEGELFAFO.github.io/blob/main/{{ replace $filePath " " "%20" }}" target="_blank" rel="noopener noreferrer">here</a></strong></p>
    </div>
{{ end }}
